.container {
  background-color: rgb(237, 232, 230);
  min-height: 100vh;
  padding: 0 3rem;
}

.hero {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 3rem 0;
}

.hero h1 {
  font-size: 5.5rem;
  font-weight: 700;
  width: 40rem;
  line-height: 90%;
  letter-spacing: -2px;
}

.heroDetails {
  align-self: end;
  font-size: 1rem;
  line-height: 150%;
}

.animatedSpan {
  display: inline-block;
  overflow: hidden;
}

.wordContainer {
  display: inline-block;
  overflow: hidden;
}

.video {
  width: 100%;
  padding: 3rem 0;
}

.footer {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
  color: #777;
}
