.navbar {
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar h3 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 80%;
  display: flex;
  flex-direction: column;
}
